@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:url('../imagens/look_2.jpg') no-repeat top center;
    background-attachment: fixed;
    font-family:  "Poppins", sans-serif;
}
header{
    
    background-color: cadetblue;
    padding: 20px;
}
header .logo{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
}
.logo h1{
    font-weight: 600;
    font-family:  "Poppins", sans-serif;
    font-size: 3em;
    font-variant: small-caps;
}
.logo span{
    color: aqua;
}
.logo img{
    width: 80px;
}
.navegar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 140px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navegar ul{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;

}
.navegar li{
    list-style: none;


}
.navegar li a{
    color: white;
    display: inline-block;
    justify-content: space-between;
    padding: 50px;
    padding-left: 20px;
    font-size: 19px;
    text-decoration: none;
}
.navegar li a:hover{
    color: aqua;
}
.navegar .dado{
   
    color: #212121;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

