@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Poppins", sans-serif;
}
body{
   background: url('../imagens/ideia.jpg') no-repeat top center;
   background-attachment: fixed;
    color: white;
}
header{
    font-family:  "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px;
    font-weight:500;
}
header .navegador ul{
    position: relative;
    display: flex;
}
header .navegador li{
    list-style: none;
}
header .navegador li a{
    color:white;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    margin-left: 100px;
}
header .navegador .nav li a{
   display: flex;
   justify-content: right;
    margin-top: 50px;
    padding: 10px 25px;
    background: #e51e2a;
    color: white;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
    margin: 20px;
}
header .navegador .nav li a:hover{
    transform: translateX(10px);
}

.principal h1{
    position: relative;
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-variant: small-caps;
}
.principal h1 span{
    color: aqua;
}
.principal img{
    width: 80px;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
}
section p{
    text-indent: 10px;
    font-size: 2.5em;
    line-height: 2.5em;
}







