@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

:root{
    --var1:"Eater", serif;
    --var2:"Cookie", cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: url('../imagens/hacker_1.jpg')no-repeat top center;
    background-attachment: fixed;
}
header{
    background-color:cadetblue;
    padding: 20px;
}
header .logotipo{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
}
.logotipo h1{
    color: white;
    font-family: "Eater", serif;
    font-weight: 600;
    font-size: 3em;
    font-variant: small-caps;
    margin: 5px;
}
.logotipo h1:hover{
    color: aqua;
    transform: translateX(-10px);
    transition: 0.3s ease;
}
.logotipo span{
    color: aqua;
}
.logotipo img{
    width: 80px;
}
.menu{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul{
    position: relative;
    top: 0;
    right: 0;
    display: flex;
}
.menu li{
    list-style: none;
}

.menu li a{
    color: white;
    display: inline-block;
    justify-content: space-between;
    padding: 50px;
    padding-left: 50px;
    font-family: "Eater", serif;
    font-weight: 600;
    font-size: 1.3em;
    text-decoration: none;
    transition: 1.3s ease-in-out;
    letter-spacing: 1px;
   
}
.menu li a:hover{
    color: aqua;
    transition: 1s;
    transform: translateY(-10px);
}

.informacoes{
    position: relative;
    width: 600px;
    margin-right: 20px;
    font-weight: 700;

}
.informacoes h2{
    color: white;
    margin: 50px;
    align-items: center;
    line-height: 20px;
    font-weight: 700;
    font-family: "Eater", serif;
    font-size: 2em;
}
.informacoes p{
    color: white;
    margin: 20px;
    padding: 20px;
    font-family: var(--var2);
    letter-spacing: 1px;
    font-size: 1.5em;
    line-height: 1em;
    text-indent: 2px;
}
section{
    position: relative;
    width: 100%;
    border: 1px solid transparent;
}
section footer{
    color: white;
    max-width: 1200px;
    margin: auto;
}
section footer p{
    margin: auto;
    text-align: center;
    font-family: var(--var2);
    font-size: 2em;
    box-shadow: 1px 1px 1px transparent rgba(0, 0, 0, 1);
}
section footer p:hover{
    color: aqua;
    transform: translateX(-10px);
    transition: 0.3s ease-in-out;
}